@charset 'UTF-8';
/* @FONT-FACE loads font into browser */

@font-face {
    font-family: 'typicons';
    src: url('../typicons/typicons.eot');
    src: url('../typicons/typicons.eot?#iefix') format('embedded-opentype'), url('../typicons/typicons.woff') format('woff'), url('../typicons/typicons.ttf') format('truetype'), url('../typicons/typicons.svg#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* :before psuedo-selector inserts and styles icon */

.typcn:before {
    font-family: 'typicons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    background-image: linear-gradient(to top, #ffffff 0%, #d0d0cf 50%, #ffffff 100%);
    padding-bottom: 10px;
}

body {
    padding: 0 10px;
    width: 170px;
}

div {
    margin: 0 auto;
    width: 100%;
    float: left;
}

div.panel {
    background: none;
    margin-top: 4px;
    margin-bottom: 0;
    border-color: #2e3561;
}

div.panel-default > div.panel-heading {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    background-color: #2e3561;
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 90%;
}

div.panel-default > div.panel-heading::first-letter {
    font-size: 120%;
}

div.settings {
    font-weight: bold;
    font-size: 9pt;
    color: #884343;
}

button {
    padding: 0;
    font-size: 36pt;
    line-height: 40px;
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    border-radius: 12px;
    /* transition: transform 0.1s; */
    /* Animation */
}

button:focus {
    outline: none;
}

button:hover{
    /*font-size: 45pt;*/
    background: radial-gradient(#ffffff, #d0d0cf)
}

input:hover {
    transform: scale(1.2);
    transform-style: preserve-3d;
}

input + label:hover {
    font-size: 9.7pt;
}

button[_type="mute"] {
    color: #884343;
}
button[_type="mute"]:hover {
    color: #a92d2d;
}

button[_type="mute"]:active {
    color: #ce1e1e;
    background: radial-gradient(#ffffff, #ce1e1e26);
}

button[_type="unmute"] {
    color: #2e3561;
}

button[_type="unmute"]:hover {
    color: #29399c;
}

button[_type="unmute"]:active {
    color: #0f28c5;
    background: radial-gradient(#ffffff, #0f28c526);
}